@font-face {
	font-family: OpenSans;
	src: url(../fonts/opensans.woff);
}

/* RESET STYLES */
body, div, dl, dt, dd, pre, form, label, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
address, caption, cite, code, dfn, em, strong, var { font-style: normal; font-weight: normal; }
caption { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
q:before, q:after { content: ''; }
strong { font-weight: bold; }
em { font-style: italic; }
a { text-decoration: none; }
a:active, a:focus { outline: none; }
article, aside, figure, footer, header, hgroup, nav, section { display: block; }
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
	background: #fff url("../img/grey.png") repeat;
	font: 16px "OpenSans", Helvetica, Arial, sans-serif;
	color: #3E4156;
}

h1 {
	padding: 0 10px;
	text-align: center;
	text-shadow: 1px 1px #fff;
	font-weight: 400;
	font-size: 2.4em;
	line-height: 1.3em;
}
h2 {
	text-align: center;
	font-size: 32px;
	line-height: 1.3em;
	font-weight: bold;
	text-shadow: 1px 1px #fff;
}
h3 { font-size: 24px; line-height: 1.3em; text-align: center; }
h4 { font-size: 18px; line-height: 1.3em; text-align: center; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
p { padding-bottom: 11px; }
p, div, span { line-height: 1.5em; }

hr {
	margin: 15px auto;
	height: 2px;
	border: 0;
	background: -webkit-linear-gradient(left, rgba(198,0,3,0) 0%, rgba(128, 128, 128, 0.7) 50%, rgba(198,0,3,0) 100%);
	background: -moz-linear-gradient(left, rgba(198,0,3,0) 0%, rgba(128, 128, 128, 0.7) 50%, rgba(198,0,3,0) 100%);
	background: -o-linear-gradient(left, rgba(198,0,3,0) 0%, rgba(128, 128, 128, 0.7) 50%, rgba(198,0,3,0) 100%);
	background: linear-gradient(to right, rgba(198,0,3,0) 0%, rgba(128, 128, 128, 0.7) 50%, rgba(198,0,3,0) 100%);
}

/* Header & MainMenu*/
.mainHeader {
	width: 920px;
	margin: 0 auto;
	position: sticky;
	top: 0;
	z-index: 10;
}

nav {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	background: #3E4156;
}

nav > div:first-of-type {
	background: #fff;
}

nav > div:last-of-type {
	display: flex;
	align-items: center;
	color: #fff;
}

nav > div:last-of-type i {
	color: yellow;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

.menu li{
	display: inline-block;
	position: relative;
	background: #3E4156;
	cursor: pointer;
}

.menu li:first-child{
	margin-left: 0;
}

.menu li span {
	font-weight: 600;
	/*text-decoration:none;*/
	padding: 11px;
	display: block;
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.menu li span:hover, 
.menu li:hover > span {
	color: #fff;
	background: #9CA3DA;
}

.menu ul {
	display: none;
	margin: 0;
	padding: 0;
	width: 180px;
	position: absolute;
	top: 46px;
	left: 0px;
	background: #fff;
}

.menu ul li {
	display: block;
	background: none;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.menu ul li span {
	font-weight: normal;
	display: block;
	color: #797979;
	border-left: 3px solid #fff;
	background: #fff;
}
.menu ul li span:hover, .menu ul li:hover > span {
	background: #f0f0f0;
	border-left: 3px solid #9CA3DA;
	color: #797979;
}
.menu li:hover > ul {
	display: block;
}
.mobile-menu {
	display: none;
	width: 100%;
	padding: 11px;
	background: #3E4156;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}
.mobile-menu:hover {
	background: #3E4156;
	color: #fff;
	text-decoration: none;
}
@media (min-width: 768px) and (max-width: 991px) {
	.mainHeader { width: 720px;	}
	.menu ul {
		width: 150px;
		top: 37px;
	}
	.menu li { font-size: 14px; }
	.menu ul li { font-size: 12px; }
	.menu li span{ padding: 8px; }
}

@media (max-width: 767px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 24px;
	}
	.mainHeader {
		width: auto;
		padding: 0 20px;
	}
	.menu { display: none; }
	.mobile-menu {
		display: block;
		margin-top: 20px;
		width: auto;
	}
	nav {
		margin: 0;
		background: none;
		position: absolute;
	}
	nav > div:last-of-type {
		display: none;
	}
	.menu li {
		display: block;
		margin: 0;
	}
	.menu li span {
		background: #fff;
		color: #797979;
		border-top: 1px solid #e0e0e0;
		border-left: 3px solid #fff;
	}
	.menu li span:hover, .menu li:hover > span {
		background: #f0f0f0;
		color: #797979;
		border-left: 3px solid #9CA3DA;
	}
	.menu ul {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		/*width: 100%;*/
		width: 250px;
	}
	.menu ul li span {
		padding-left: 25px;
	}
}
/* END Header & MainMenu*/

/* модальне вікно */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9;
	display: none;
}

.modalDialog div {
	position: relative;
	background: #fff url("../img/grey.png") repeat;
	width: 800px;
	margin: 250px auto;
	padding: 5px 0;
	font-size: 18px;
	border: 3px solid #9CA3DA;
	border-radius: 7px;
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}

.modalDialog img {
	height: 170px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.modalDialog table {
	margin: 20px 5px;
}
.modalDialog table td {padding: 7px;}
.modalDialog table td:first-child {
	text-align: right;
	min-width: 220px;
}
.modalDialog table td:last-child {
	text-align: left;
	font-weight: bold;
}
.close {
	position: absolute;
	right: 8px;
	top: 2px;
	width: 20px;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	z-index: 10;
}
@media (min-width: 768px) and (max-width: 991px) {
	.modalDialog div {
		width: 700px;
		margin: 200px auto;
	}
}

@media (max-width: 767px) {
	.modalDialog div {
		width: 400px;
		text-align: center;
		margin: 150px auto;
	}
	.modalDialog img { position: static; }
	.modalDialog table td:first-child {	min-width: 170px; }
}

@media (max-width: 480px) {
	.modalDialog div {
		width: 320px;
		margin: 100px auto;
	}
	.modalDialog table td:first-child {	min-width: 140px; }
}
/* END модальне вікно */

/* ----- основний блок ----- */
.mainWrap {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

/* слайдер */
.slider {
	width: 1180px;
	position: relative;
	margin: auto;
	z-index: 0;
}

.slider input {
	display: none;
}

.slider input:nth-of-type(1):checked ~ .item:nth-of-type(1),
.slider input:nth-of-type(2):checked ~ .item:nth-of-type(2),
.slider input:nth-of-type(3):checked ~ .item:nth-of-type(3),
.slider input:nth-of-type(4):checked ~ .item:nth-of-type(4),
.slider input:nth-of-type(5):checked ~ .item:nth-of-type(5) {
	opacity: 1.0;
	-webkit-transition: opacity 0.4s linear;
	-moz-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
	z-index: 6;
}

.slider input:checked ~ .item {
	opacity: 0.0;
}

.slider .item {
	position: relative;
	width: 100%;
	opacity: 1.0;
	-webkit-transition: opacity 0.0s linear 0.4s;
	-moz-transition: opacity 0.0s linear 0.4s;
	-o-transition: opacity 0.0s linear 0.4s;
	transition: opacity 0.0s linear 0.4s;
}

.slider .item ~ .item {
	position: absolute;
	opacity: 0.0;
	top: 0px;
	left: 0px;
}

.slider img {
	width: 100%;
	box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

.slider .imgText {
	position: absolute;
	bottom: 100px;
	left: 0;
	padding: 10px 20px;
	max-width: 430px;
	font-size: 22px;
	color: #FFFF00;
	background-color: #778899;
	opacity: 0.8;
	-webkit-transition: opacity linear 0.4s;
	-moz-transition: opacity linear 0.4s;
	-o-transition: opacity linear 0.4s;
	transition: opacity linear 0.4s;
}

.slider .imgText:hover {
	opacity: 1;
	-webkit-transition: opacity linear 0.4s;
	-moz-transition: opacity linear 0.4s;
	-o-transition: opacity linear 0.4s;
	transition: opacity linear 0.4s;
}

.slider input:nth-of-type(5):checked ~ .item .imgText {
	opacity: 1;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.slider {	width: 951px;	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.slider { width: 727px;	}
}

@media (max-width: 767px) {
	.mainWrap {
		padding: 0 5px;
	}
	.slider { width: 440px;	}
	.slider .imgText {
		bottom: 40px;
		max-width: 285px;
		font-size: 14px;
	}
}
@media (max-width: 480px) {
	.slider { width: 320px;	}
}

.joinReg {
	padding: 2px 8px 3px 8px;
	background: #D2691E;
	color: #fff;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(0,0,0,0.8);
	cursor: pointer;
}

.joinReg:hover {
	background: #CD853F;
}

.selector_list {
	position: absolute;
	left: 50%;
	margin-left: -98px;
	bottom: 15px;
	z-index: 11;
}

.selector_list label {
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	margin: 25px 12px 0 16px;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	-moz-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.selector_list label:after {
	content: " ";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	top: -4px;
	left: -4px;
	border: 2px solid #ddd;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.selector_list label:hover,
#selector1:checked ~ .selector_list label:nth-of-type(1),
#selector2:checked ~ .selector_list label:nth-of-type(2),
#selector3:checked ~ .selector_list label:nth-of-type(3),
#selector4:checked ~ .selector_list label:nth-of-type(4),
#selector5:checked ~ .selector_list label:nth-of-type(5) {
	background: #A9A9A9;
}
/* END слайдер */

/* блоки "Програмісти" і "Області знань" */
.dataProgrammer,
.skills,
.newSkill {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.dataProgrammer input,
.newSkill input,
.newSkill select {
	height: 28px;
	font-size: 16px;
}
.dataProgrammer div,
.newSkill div {padding: 0 15px 15px;}
.dataProgrammer div:nth-child(odd) input { width: 200px; }
.dataProgrammer div:nth-child(even) input { width: 170px; }
.dataProgrammer div:nth-child(even) input:valid ~ i,
.newSkill select:valid ~ i { color: rgba(0, 255, 127, 1); }
.dataProgrammer div:nth-child(even) input:invalid ~ i,
.newSkill select:invalid ~ i { color: rgba(255, 0, 0, 1); }
.dataProgrammer input:focus,
.newSkill input:focus,
.newSkill select:focus {
	outline: none;
	box-shadow: 0 0 8px rgba(0,0,0,0.7);
	-webkit-transition: box-shadow ease-out 0.4s;
	-moz-transition: box-shadow ease-out 0.4s;
	-o-transition: box-shadow ease-out 0.4s;
	transition: box-shadow ease-out 0.4s;
}
.newSkill input,
.newSkill select {
	width: 280px;
}

.skills ~ div {
	text-align: center;
}

.skill_group {
	/*width: 250px;*/
}

.one_skill {
	width: 250px;
	display: flex;
	justify-content: space-between;
}
.one_skill input {	height: 14px; }
.one_skill label {	width: 170px; }
.skill_range { width: 80px; }

.button {
	margin: 15px;
	font-size: 16px;
	width: 120px;
	height: 30px;
}

.selected {
	margin: auto;
	cursor: pointer;
}
.selected thead {
	background: #808080;
	color: #fff;
}
.selected, .selected thead { border: 2px solid #000; }
.selected th, .selected td {
	border: 1px solid #000;
	padding: 10px;
}
.selected tbody tr:nth-child(2n) { background: #FDF5E6; }
.selected tbody tr:nth-child(2n+1) { background: #FFFAFA; }
.selected tbody tr:hover {
	background: #9CA3DA;
	color: #fff;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.selected tbody td:nth-child(1) {
	display: none;
}
.selected td:last-child {
	max-width: 1000px;
}
/* END блоки "Програмісти" і "Області знань" */

/* блоки "Про нас" і "Контакти" */
.aboutThis {
	background: rgba(255, 250, 250, 0.3);
}

.aboutThis li {
	padding-bottom: 8px;
}

.map_canvas {
	width: 1160px;
	height: 550px;
	margin: auto;
	z-index: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.slider {	width: 951px;	}
	.map_canvas { width: 951px;	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.slider { width: 727px;	}
	.map_canvas { width: 727px;	}
}

@media (max-width: 767px) {
	.slider { width: 440px;	}
	.map_canvas {
		width: 440px;
		height: 450px;
	}
}
@media (max-width: 480px) {
	.slider { width: 320px;	}
	.map_canvas {
		width: 320px;
		height: 450px;
	}
}

.contacts {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.contact_block {
	width: 300px;
	height: 50px;
	display: flex;
	margin: 0 20px 40px 15px;
}

.contact_block i {
	color: #797979;
	border: 2px solid #797979;
	border-radius: 40px;
	padding: 13px 44px 45px 17px;
}
.contact_text {
	margin-left: 10px;
}

.contact_text > div:first-child {
	font-weight: bold;
}
/* END блоки "Про нас" і "Контакти" */

.mainFooter {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.social {
	display: inline-block;
	width: 40px;
	line-height: 40px;
	margin: 5px 2px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
}

.facebook {background-color: #3b5998;}
.facebook:hover {background-color: #2d4373;}
.google {background-color: #dd4b39;}
.google:hover {background-color: #c23321;}
.twitter {background-color: #55acee;}
.twitter:hover {background-color: #2795e9;}
.vkontakte {background-color: #587ea3;}
.vkontakte:hover {background-color: #466482;}
.odnoklassniki {background-color: #ee8208;}
.odnoklassniki:hover {background-color: #ee7808;}