<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<title>Система обліку знань</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.css" type="text/css">
	
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/lodash.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/menu.js"></script>

	<script type="text/template" data-name="DataProgrammer">
		<% arr.forEach(function(rec) { %>
			<div>
				<label for="<%= rec.id %>"><%= rec.label %></label><br>
				<input type="<%= rec.type %>" id="<%= rec.id %>"
				<% if (rec.placeholder) { %>
					placeholder="<%= rec.placeholder %>"
				<% } %>
				<% if (rec.min == "0") { %>
					min="<%= rec.min %>"
				<% } %>
				required>
				<i class="fa fa-check fa-fw" aria-hidden="true"></i>
			</div>
		<% }); %>
	</script>

	<script type="text/template" data-name="Skills">
		<% arr.forEach(function(rec) { %>
			<fieldset class="skill_group">
				<legend><%= rec.legend %></legend>
				<% rec.items.forEach(function(item) { %>
					<div class="one_skill">
						<label for="it_<%= item.name %>">
							<input type="checkbox" id="it_<%= item.name %>" class="it_type">
							<%= item.text %></label>
						<input type="range" class="skill_range" id="it_<%= item.name %>_range">
					</div>
				<% }); %>
			</fieldset>
		<% }); %>
	</script>

	<script type="text/javascript">
		window.Templates = (function() {
			var templateElements = document.querySelectorAll('script[type="text/template"]');
			var compiledTemplates = {};

			Array.prototype.forEach.call(templateElements, function(templateElement) {
				var templateName = templateElement.getAttribute('data-name');
				var templateString = templateElement.innerHTML;
				compiledTemplates[templateName] = _.template(templateString);
			});

			return compiledTemplates;
		})();
	</script>
</head>
<body>
	<header class="mainHeader">
		<span id="touch-menu" class="mobile-menu"><i class="fa fa-bars fa-fw" aria-hidden="true"></i>Меню</span>
		<nav>
			<div>
				<ul class="menu">
					<li id="mi-main"><span><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Головна</span></li>
					<li>
						<span><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp;Завдання</span>
						<ul>
							<li id="mi-task1"><span><i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i>&nbsp;Додавання запису</span></li>
							<li id="mi-task2"><span><i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i>&nbsp;Видалення запису</span></li>
							<li id="mi-task3"><span><i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i>&nbsp;Пошук</span></li>
						</ul>
					</li>
					<li id="mi-about"><span><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;Про нас</span></li>
					<li id="mi-contacts"><span><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;Контакти</span></li>
				</ul>
			</div>
			<div>Привіт, Гість! &nbsp;<i class="fa fa-user-circle-o fa-fw fa-2x" aria-hidden="true"></i></div>
		</nav>
	</header><!--end mainHeader-->
	<main class="mainWrap">
		<article id="startPage">
			<header>
				<h1>Система обліку знань</h1>
			</header>
			<section>Slider</section>
		</article>
		<article id="newProgrammer">
			<header>
				<h2>Внесення даних про нового програміста</h2>
				<h3>Вкажіть свої особисті дані</h3>
			</header>
			<section class="dataProgrammer"></section>
		</article>
		<article id="skills">
			<header>
				<h3></h3>
			</header>
			<section class="skills"></section>
			<div>
				<input type="button" id="button_save" value="Зберегти">
				<input type="reset" id="button_cancel" value="Відмінити">
				<input type="button" id="button_search" value="Шукати">
			</div>
		</article>
		<article id="searchResult">
			<h3>Список програмістів, рівень знань яких відповідає критеріям пошуку</h3>
			<table id="users"></table>
		</article>
		<article id="aboutThis">
			<h2>aboutThis</h2>
		</article>
		<article id="contacts">
			<h2>CONTACTS</h2>
		</article>
	</main>
	<hr>
	<footer>
		<p>Copyright 2017 "Система обліку знань"</p>
	</footer>

	<script type="text/javascript">
		var arr = [{id: "progName", label: "Прізвище та ім'я", type: "text", placeholder: "Шевченко Тарас"},
				{id: "progBirth", label: "Дата народження", type: "date"},
				{id: "progEmail", label: "E-mail", type: "email", placeholder: "Ваш e-mail"},
				{id: "progExperience", label: "Досвід роботи (років)", type: "number", min: "0"}];
		document.getElementsByClassName('dataProgrammer')[0].innerHTML = window.Templates.DataProgrammer(arr);
		arr = [{legend: "Мови програмування", items: [{name: "C", text: "C"}, {name: "CPlus", text: "C++"},
				{name: "CSh", text: "C#"}, {name: "ES6", text: "ECMAScript 6"}, {name: "JS", text: "JavaScript"},
				{name: "Java", text: "Java"}, {name: "Python", text: "Python"}, {name: "Ruby", text: "Ruby"},
				{name: "Perl", text: "Perl"}, {name: "PHP", text: "PHP"}, {name: "ObjC", text: "Objective-C"},
				{name: "Scala", text: "Scala"}, {name: "Swift", text: "Swift"}, {name: "TS", text: "TypeScript"}]},
			{legend: "Frontend-технології", items: [{name: "HTML", text: "HTML"}, {name: "HTML5", text: "HTML5"},
				{name: "CSS", text: "CSS"}, {name: "CSS3", text: "CSS3"}, {name: "Sass", text: "Sass"},
				{name: "Less", text: "Less"}, {name: "Stylus", text: "Stylus"}, {name: "jQuery", text: "jQuery"},
				{name: "Angular", text: "Angular.JS"}, {name: "React", text: "React.JS"}, {name: "Backbone", text: "Backbone.JS"},
				{name: "DOM", text: "DOM"}, {name: "HTML5API", text: "HTML5 API"}]},
			{legend: "Бази даних", items: [{name: "SQL", text: "SQL"}, {name: "MySql", text: "MySql"},
				{name: "NoSQL", text: "NoSQL"}, {name: "MongoDB", text: "MongoDB"}, {name: "PostgreSQL", text: "PostgreSQL"},
				{name: "Oracle", text: "Oracle"}, {name: "MSSQL", text: "MS SQL Server"},
				{name: "MariaDB", text: "MariaDB"}, {name: "Firebird", text: "Firebird"},
				{name: "Interbase", text: "Interbase"}, {name: "Informix", text: "Informix"}]},
			{legend: "Системи управління сайтом", items: [{name: "ShopScript", text: "Shop-Script"},
				{name: "Bitrix", text: "1С-Битрикс"}, {name: "WordPress", text: "WordPress"}, {name: "Drupal", text: "Drupal"},
				{name: "Joomla", text: "Joomla!"}, {name: "MODX", text: "MODX"}, {name: "UMI", text: "UMI.CMS"},
				{name: "NetCat", text: "NetCat"}, {name: "OpenCart", text: "OpenCart"}, {name: "HostCMS", text: "HostCMS"},
				{name: "CSCart", text: "CS-Cart"}]},
			{legend: "Інші напрямки", items: [{name: "OOCSS", text: "OOCSS"}, {name: "BEM", text: "BEM"},
				{name: "SMACSS", text: "SMACSS"}, {name: "SVG", text: "SVG"}, {name: "Git", text: "Git"},
				{name: "GitHub", text: "GitHub"}, {name: "CVS", text: "CVS"}, {name: "Node", text: "Node.js"},
				{name: "NET", text: ".NET"}, {name: "CDT", text: "Chrome Dev Tools"}, {name: "Firebug", text: "Firebug"},
				{name: "Photoshop", text: "Photoshop"}, {name: "Illustrator", text: "Illustrator"}
				]}];
			document.getElementsByClassName('skills')[0].innerHTML = window.Templates.Skills(arr);
	</script>
</body>
</html>