<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<title>Система обліку знань</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="img/favicon.png" type="image/png">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.css" type="text/css">

	<script type="text/javascript" src="js/lodash.min.js"></script>

	<script type="text/template" data-name="DataProgrammer">
		<!-- TEMPLATE для додавання полів блоку введення даних про нового програміста -->
		<% arr.forEach(function(rec) { %>
			<div>
				<label for="<%= rec.id %>"><%= rec.label %></label><br>
				<input type="<%= rec.type %>" id="<%= rec.id %>"
				<% if (rec.placeholder) { %>
					placeholder="<%= rec.placeholder %>"
				<% } %>
				<% if (rec.pattern) { %>
					pattern="<%= rec.pattern %>"
				<% } %>
				<% if (rec.min == "0") { %>
					min="<%= rec.min %>"
				<% } %>
				required>
				<i class="fa fa-check fa-fw" aria-hidden="true"></i>
			</div>
		<% }); %>
	</script>

	<script type="text/template" data-name="DataSkill">
		<!-- TEMPLATE для додавання полів блоку введення нової області знань -->
		<% arr.forEach(function(rec) { %>
			<div>
				<label><%= rec.label %></label><br>
				<% if (rec.label == "Виберіть розділ") { %>
					<select class="skillGroups"></select>
				<% } else { %>
					<input type="text" id="<%= rec.id %>" maxlength="16"
					pattern="<%= rec.pattern %>" required>
				<% } %>
				<i class="fa fa-check fa-fw" aria-hidden="true"></i>
			</div>
		<% }); %>
	</script>

	<script type="text/template" data-name="SkillGroups">
		<!-- TEMPLATE для додавання пунктів у SELECT "Розділи областей знань" -->
		<% arr.forEach(function(rec) { %>
				<option><%= rec.legend %></option>
		<% }); %>
	</script>

	<script type="text/template" data-name="Skills">
		<!-- TEMPLATE для додавання полів блоку "Області знань" -->
		<% arr.forEach(function(rec) { %>
			<fieldset class="skill_group">
				<legend><%= rec.legend %></legend>
				<% rec.items.forEach(function(item) { %>
					<div class="one_skill">
						<label for="it_<%= item.name %>"><input type="checkbox" id="it_<%= item.name %>" class="it_type"><%= item.text %></label>
						<input type="range" class="skill_range" id="it_<%= item.name %>_range">
					</div>
				<% }); %>
			</fieldset>
		<% }); %>
	</script>

	<script type="text/javascript">
		window.Templates = (function() {
			var templateElements = document.querySelectorAll('script[type="text/template"]');
			var compiledTemplates = {};

			Array.prototype.forEach.call(templateElements, function(templateElement) {
				var templateName = templateElement.getAttribute('data-name');
				var templateString = templateElement.innerHTML;
				compiledTemplates[templateName] = _.template(templateString);
			});

			return compiledTemplates;
		})();
	</script>
</head>
<body>
	<header class="mainHeader">
		<span id="touch-menu" class="mobile-menu"><i class="fa fa-bars fa-fw" aria-hidden="true"></i>Меню</span>
		<nav>
			<div>
				<ul class="menu">
					<li id="mi-main"><span><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Головна</span></li>
					<li>
						<span><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp;Програмісти</span>
						<ul>
							<li id="mi-addProgr"><span><i class="fa fa-address-card-o fa-fw" aria-hidden="true"></i>&nbsp;Додавання запису</span></li>
							<li id="mi-search"><span><i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;Пошук</span></li>
						</ul>
					</li>
					<li>
						<span><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i>&nbsp;Області знань</span>
						<ul>
							<li id="mi-addSkill"><span><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;Додавання запису</span></li>
							<li id="mi-delSkill"><span><i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>&nbsp;Видалення запису</span></li>
						</ul>
					</li>
					<li>
						<span><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;Про нас</span>
						<ul>
							<li id="mi-about"><span><i class="fa fa-thumb-tack fa-fw" aria-hidden="true"></i>&nbsp;Тех.завдання</span></li>
							<li id="mi-contacts"><span><i class="fa fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;Контакти</span></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="user-block">
				Привіт,&nbsp;<span>Гість</span>! &nbsp;<i class="fa fa-user-circle-o fa-fw fa-2x" aria-hidden="true"></i>
				<ul>
					<li id="mi-signIn"><span><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>&nbsp;Вхід</span></li>
					<li id="mi-registration"><span><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp;Реєстрація</span></li>
					<li id="mi-userInfo"><span><i class="fa fa-address-card-o fa-fw" aria-hidden="true"></i>&nbsp;Кабінет</span></li>
					<li id="mi-signOut"><span><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp;Вихід</span></li>
				</ul>
			</div>
		</nav>
	</header><!--end mainHeader-->

	<!-- модальні вікна -->
	<div id="modalBlocks">
		<div id="userSignin" class="modal-dialog">
			<div class="modal-dialog__content user-width">
				<div>Введіть Ваш login:</div>
				<input type="text" class="modal-dialog__field" required><br>
				<div>Введіть Ваш пароль:</div>
				<input type="password" class="modal-dialog__field" required><br>
				<input id="btnSignin" type="button" class="button" value="Увійти">
				<a class="modal-dialog__close" title="Закрити">&#10060;</a>
			</div>
		</div>
		<!-- pattern="[A-Za-z0-9]{5,}" title="Кількість символів не менше 5-ти" -->
		<div id="detailProgr" class="modal-dialog">
			<div class="modal-dialog__content progr-width">
				<img class="modal-dialog__img" src="img/noPhoto.png" alt="фотокартка відсутня">
				<table class="modal-dialog__table"></table>
				<a class="modal-dialog__close" title="Закрити">&#10060;</a>
			</div>
		</div>
	</div>

	<!-- основні блоки сторінки -->

	<main class="mainWrap">
		<article id="startPage">
			<header>
				<h1>СИСТЕМА ОБЛІКУ ЗНАНЬ</h1>
			</header>
			<section class="slider">
				<input type="radio" id="selector1" name="imageInput" checked>
				<input type="radio" id="selector2" name="imageInput">
				<input type="radio" id="selector3" name="imageInput">
				<input type="radio" id="selector4" name="imageInput">
				<input type="radio" id="selector5" name="imageInput">
				<div class="item">
					<img src="img/slide1.jpg" alt="слайд 1">
					<div class="imgText">Чому Вам вигідно створити у нас аккаунт?</div>
				</div>
				<div class="item">
					<img src="img/slide2.jpg" alt="слайд 2">
					<div class="imgText">У нас зареєструвались вже понад 8&nbsp;тисяч програмістів...</div>
				</div>
				<div class="item">
					<img src="img/slide3.jpg" alt="слайд 3">
					<div class="imgText">...що володіють всіма популярними мовами програмування</div>
				</div>
				<div class="item">
					<img src="img/slide4.jpg" alt="слайд 4">
					<div class="imgText">Статистика GitHub</div>
				</div>
				<div class="item">
					<img src="img/slide5.jpg" alt="слайд 5">
					<div class="imgText">Шукаєте роботу програмістом або маєте для них завдання? <span class="joinReg">Вперед!</span></div>
				</div>
				<div class="selector_list">
					<label for="selector1"></label>
					<label for="selector2"></label>
					<label for="selector3"></label>
					<label for="selector4"></label>
					<label for="selector5"></label>
				</div>
			</section>
		</article><!--end startPage-->
		<article id="newProgrammer">
			<header>
				<h2>Внесення даних про нового програміста</h2>
				<h3>Вкажіть свої особисті дані</h3>
			</header>
			<section class="dataProgrammer"></section>
		</article><!--end newProgrammer-->
		<article id="newSkill">
			<header>
				<h2>Внесення даних про нову область знань</h2>
			</header>
			<section class="newSkill"></section>
		</article><!--end newSkill-->
		<article id="skills">
			<header>
				<h3></h3>
			</header>			
			<section class="skills"></section>
			<div>
				<input type="button" class="button" id="button_save" value="Зберегти">
				<input type="button" class="button" id="button_del" value="Видалити">
				<input type="reset" class="button" id="button_cancel" value="Відмінити">
				<a href="#searchResult">
					<input type="button" class="button" id="button_search" value="Шукати">
				</a>
			</div>
		</article><!--end skills-->
		<article id="searchResult">
			<h3>Список програмістів, рівень знань яких відповідає критеріям пошуку</h3>
			<table id="selected" class="selected">
				<thead>
					<th title="Натисніть для зміни порядку сортування">Прізвище та ім'я</th>
					<th>Навички</th>
				</thead>
			</table>
		</article><!--end searchResult-->
		<article id="aboutThis" class="aboutThis">
			<h2>Технічне завдання на тему "Система учёта знаний"</h2>
			<h4>Пользователи («программисты») указывают и оценивают свои знания в различных (сгруппированных) областях.</h4>
			<p><h3>Дополнительно:</h3>
				<ol>
					<li>Пользователь - «менеджер» осуществляет отбор программистов по заданным критериям.</li>
					<li>Возможность генерирования отчетов.</li>
					<li>Управления списками областей знаний.</li>
				</ol>
			</p>
			<p><h3>Общие требования:</h3>
				<ul>
					<li>Верхний блок - слайдер изображений (или видео) основное и меню сайта. Пункты меню расположены горизонтально с отступом, разделяясь вертикальной чертой.</li>
					<li>Обязательно должны быть подменю.</li>
					<li>Основной блок - наверху находятся breadcrumbs (“хлебные крошки”) – если есть необходимость (предпочтительно, но не обязательно). Под ними расположен блок с контентом.</li>
					<li>Блок контента должен обладать при необходимости вертикальным скролом.</li>
					<li>При изменении размеров окна браузера - блок контента должен растягиваться на всё доступное ему пространство, за вычетом левого меню (если есть), шапки и хлебных крошек.</li>
					<li>При прокрутке блока контента - остальные блоки должны быть неподвижны.</li>
					<li>На одной из страниц блока с контентом должна находится галерея картинок 300x300 px. Предусмотреть вариант когда изображения имеют разный размер.</li>
					<li>На одной из страниц использовать клиентскую пагинацию: данные необходимо отображать постранично, максимум 10 элементов на страницу, необходимо предоставить пользовательскую навигацию для перехода по страницам.</li>
					<li>На странице «Контакты» должна быть карта с указанием места расположения.</li>
					<li>Страницы веб-приложения должны занимать всю ширину окна и корректно отображаться во всех браузерах (кросс-браузерность включительно с IE11).</li>
					<li>Страницы веб-приложения должны занимать всю ширину окна и корректно отображаться на разных устройствах (при необходимости меню и блоки могут отображатся на разных устройствах по-разному).</li>
					<li>Предусмотреть возможность поиска по сайту.</li>
					<li>На странице с данными должна быть возможность сортировки и фильтрации.</li>
					<li>При вёрстке нельзя использовать таблицы, фреймы. Таблицы можно использовать только в случае таблицы с данными.</li>
					<li>можно использовать любые изображения и видео.</li>
				</ul>
			</p>
			<p>
				<h3>Обязательно:</h3>
				<ul>
					<li>Особое внимание следует уделить скорости работы, зависание интерфейса при выполнении операций загрузки данных, фильтрации, сортировки недопустимо.</li>
					<li>Пишите код так, как бы вы его писали в работе - внутренности задания будут оцениваться даже тщательней, чем внешнее соответствие заданию.</li>
					<li>Код должен быть организован так, чтобы его можно было заново использовать.</li>
					<li>Помните про обработку ошибок!</li>
				</ul>
			</p>
			<p>
				<h3>Дополнительно:</h3>
				<ul>
					<li>Левый блок - дополнительное меню, оно может иметь несколько уровней вложенности, каждый последующий уровень должен иметь отступ на Х px больше предыдущего уровня. Ширина меню – Y px. Если меню превышает высоту страница - то должен показываться системный вертикальный скролл. Этот скролл должен прокручивать только меню.</li>
					<li>Использовать Landing Page/ реализовать приложение в виде SPA.</li>
					<li>Шаринг в соц. сетях.</li>
					<li>Регистрация.</li>
				</ul>
			</p>
		</article><!--end aboutThis-->
		<article id="contacts">
			<header>
				<h2>ЗВОРОТНІЙ ЗВ'ЯЗОК</h2>
			</header>
			<div id="map_canvas" class="map_canvas"></div>
			<section class="contacts">
				<div>
					<div class="contact_block">
						<i class="fa fa-phone fa-fw fa-2x" aria-hidden="true"></i>
						<div class="contact_text">
							<div>Телефони</div>
							<div>+380-50-123-4567</div>
							<div>+380-67-123-4567</div>
						</div>
					</div>
					<div class="contact_block">
						<i class="fa fa-fax fa-fw fa-2x" aria-hidden="true"></i>
						<div class="contact_text">
							<div>Факс</div>
							<div>+380-44-220-3450</div>
						</div>
					</div>
				</div>
				<div>
					<div class="contact_block">
						<i class="fa fa-envelope fa-fw fa-2x" aria-hidden="true"></i>
						<div class="contact_text">
							<div>Електронна пошта</div>
							<div>office@kas.com</div>
						</div>
					</div>
					<div class="contact_block">
						<i class="fa fa-globe fa-fw fa-2x" aria-hidden="true"></i>
						<div class="contact_text">
							<div>Адреса</div>
							<div>вулиця Солом'янська, 7</div>
							<div>Київ, 02000, Україна</div>
						</div>
					</div>
				</div>
				<div>
					<div class="contact_block">
						<i class="fa fa-key fa-fw fa-2x" aria-hidden="true"></i>
						<div class="contact_text">
							<div>Режим роботи</div>
							<div>Пн-Пт: 9:00-18:00</div>
							<div>Сб: 10:00-17:00</div>
						</div>
					</div>
					<div class="contact_block">
						<i class="fa fa-info-circle fa-fw fa-2x" aria-hidden="true"></i>
						<div class="contact_text">
							<div>Додаткова інформація</div>
							<div>Ми завжди раді новим контактам і знайомствам!</div>
						</div>
					</div>
				</div>
			</section>
		</article><!--end contacts-->
	</main><!--end mainWrap-->
	<hr>
	<footer class="mainFooter">
		<div>
			<a class="social facebook" href="https://www.facebook.com/" title="Поділитися у Facebook"><i class="fa fa-facebook"></i></a>
			<a class="social twitter" href="https://twitter.com/" title="Розповісти у Twitter"><i class="fa fa-twitter"></i></a>
			<a class="social vkontakte" href="https://vk.com/" title="Поділитися у Вконтакте"><i class="fa fa-vk"></i></a>
			<a class="social google" href="https://plus.google.com/" title="Поширити у Google+"><i class="fa fa-google-plus"></i></a>
			<a class="social odnoklassniki" href="https://ok.ru/" title="Розповісти в Однокласниках"><i class="fa fa-odnoklassniki"></i></a>
		</div>
		<p>2017-2018 &copy; "Система обліку знань"</p>
	</footer>

	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEza8bTh7pp5mOnw3lLfhZL3s4CbELWq4"></script>
	<!--script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEza8bTh7pp5mOnw3lLfhZL3s4CbELWq4&callback=initMap"></script-->
	<script type="text/javascript" src="js/main.js"></script>

	<script type="text/javascript">
		// дані для TEMPLATE-вставки
		var arr = [{id: "progName", label: "Ім'я та прізвище", type: "text", placeholder: "Тарас Шевченко",
					pattern: "[A-ZА-ЯЁІЇ][a-zа-яёії]+\\s[A-ZА-ЯЁІЇ][a-zа-яёії]+"},
				{id: "progBirth", label: "Дата народження", type: "date"},
				{id: "progEmail", label: "E-mail", type: "email", placeholder: "Ваш e-mail",
					pattern: "[A-Za-z0-9_][A-Za-z0-9-_\\.]+@[A-Za-z0-9-]+\\.[A-Za-z]{2,4}"},
				{id: "progExperience", label: "Досвід роботи (років)", type: "number", min: "0"}];
		document.getElementsByClassName('dataProgrammer')[0].innerHTML = window.Templates.DataProgrammer(arr);
		arr = [{label: "Виберіть розділ"}, {id: "knowledgeName", label: "Вкажіть назву нової області знань",
					pattern: "[A-Za-zА-ЯЁІЇа-яёії0-9-\\.\\s]+"},
				{id: "knowledgeID", label: "Вкажіть ідентифікатор (латиницею)", pattern: "[A-Za-z0-9-]+"}];
		document.getElementsByClassName('newSkill')[0].innerHTML = window.Templates.DataSkill(arr);
		arr = [{legend: "Мови програмування", items: [{name: "C", text: "C"}, {name: "CPlus", text: "C++"},
				{name: "CSh", text: "C#"}, {name: "ES6", text: "ECMAScript 6"}, {name: "JS", text: "JavaScript"},
				{name: "Java", text: "Java"}, {name: "Python", text: "Python"}, {name: "Ruby", text: "Ruby"},
				{name: "Perl", text: "Perl"}, {name: "PHP", text: "PHP"}, {name: "ObjC", text: "Objective-C"},
				{name: "Scala", text: "Scala"}, {name: "Swift", text: "Swift"}, {name: "TS", text: "TypeScript"}]},
			{legend: "Frontend-технології", items: [{name: "HTML", text: "HTML"}, {name: "HTML5", text: "HTML5"},
				{name: "CSS", text: "CSS"}, {name: "CSS3", text: "CSS3"}, {name: "Sass", text: "Sass"},
				{name: "Less", text: "Less"}, {name: "Stylus", text: "Stylus"}, {name: "jQuery", text: "jQuery"},
				{name: "Angular", text: "Angular.JS"}, {name: "React", text: "React.JS"}, {name: "Backbone", text: "Backbone.JS"},
				{name: "DOM", text: "DOM"}, {name: "HTML5API", text: "HTML5 API"}]},
			{legend: "Бази даних", items: [{name: "SQL", text: "SQL"}, {name: "MySql", text: "MySql"},
				{name: "NoSQL", text: "NoSQL"}, {name: "MongoDB", text: "MongoDB"}, {name: "PostgreSQL", text: "PostgreSQL"},
				{name: "Oracle", text: "Oracle"}, {name: "MSSQL", text: "MS SQL Server"},
				{name: "MariaDB", text: "MariaDB"}, {name: "Firebird", text: "Firebird"},
				{name: "Interbase", text: "Interbase"}, {name: "Informix", text: "Informix"}]},
			{legend: "Системи управління сайтом", items: [{name: "ShopScript", text: "Shop-Script"},
				{name: "Bitrix", text: "1С-Битрикс"}, {name: "WordPress", text: "WordPress"}, {name: "Drupal", text: "Drupal"},
				{name: "Joomla", text: "Joomla!"}, {name: "MODX", text: "MODX"}, {name: "UMI", text: "UMI.CMS"},
				{name: "NetCat", text: "NetCat"}, {name: "OpenCart", text: "OpenCart"}, {name: "HostCMS", text: "HostCMS"},
				{name: "CSCart", text: "CS-Cart"}]},
			{legend: "Інші напрямки", items: [{name: "OOCSS", text: "OOCSS"}, {name: "BEM", text: "BEM"},
				{name: "SMACSS", text: "SMACSS"}, {name: "SVG", text: "SVG"}, {name: "JSON", text: "JSON"},
				{name: "Git", text: "Git"}, {name: "GitHub", text: "GitHub"}, {name: "CVS", text: "CVS"},
				{name: "Node", text: "Node.js"}, {name: "NET", text: ".NET"}, {name: "CDT", text: "Chrome Dev Tools"},
				{name: "Firebug", text: "Firebug"}, {name: "Photoshop", text: "Photoshop"},
				{name: "Illustrator", text: "Illustrator"}
				]}];
			document.getElementsByClassName('skillGroups')[0].innerHTML = window.Templates.SkillGroups(arr);
			document.getElementsByClassName('skills')[0].innerHTML = window.Templates.Skills(arr);
	</script>
</body>
</html>